# SPDX-FileCopyrightText: 2026 Isac Pasianotto <isac.pasianotto@phd.units.it>
# SPDX-FileCopyrightText: 2026 Niccolo Tosato <niccolo.tosato@phd.units.it>
#
# SPDX-License-Identifier: CC-BY-4.0

# -- Data folder
/data/*
!/data/experiments/
!/data/experiments/experiments.parquet

/questdb-parquet-data/*

# --- env files
**/.env

# --- venv 
venv/
env/
.env/
.venv/

# --- jupyter
**/.ipynb_checkpoints/

# --- Other ETL files
05-data-etl/02-polaris-catalog-setup/polaris-pyiceberg-principal.env
05-data-etl/06-query-catalog-example/certs/
05-data-etl/06-query-catalog-example/read-only-user-creds.env

# Isac
**/.DS_Store
**/real-values

