# -- Data folder
/data/*
!/data/experiments/
!/data/experiments/experiments.parquet

# --- env files
**/.env

# --- venv 
venv/
env/
.env/
.venv/

# --- jupyter
**/.ipynb_checkpoints/

# Isac
**/.DS_Store
